<!DOCTYPE html>
<html></br>
<head>
<h1 class="lit">Lingering Literature</h1>
<style>

.lit{
    font-size:30px;
    font-style:oblique;
    text-align:center;
    
}
.book{
    font-size:20px;
    font-style:oblique;
    text-align:center;
}
body{
    background-image:url('/assets/light.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

</style>
</head>
<body>
<p>Literature, a body of written works. The name has traditionally been applied to those imaginative works of poetry and prose distinguished by the intentions of their authors and the perceived aesthetic excellence of their execution. Literature may be classified according to a variety of systems, including <b>language</b>, <b>national origin</b>, <b>historical period</b>, <b>genre</b>, and <b>subject matter</b>.</p>
<p>Books play a quintessential role in every student's life by introducing them to a <b>world of imagination</b>, providing knowledge of the outside world, improving their reading, writing and speaking skills as well as boosting memory and intelligence.They are the only gateway, a sort of <b>time-machine</b> that would take the reader to the past and the future </p>
<p><b>Authors</b> on the other hand, inject their knowledge,experience and perspective, basically the essentials needed for a work to turn lively and enthralling! </p>
<p>Books just don't fit into the two types of <b>fiction</b> and <b>non-fiction</b>. They diversify into multiple sub-types depending on the genre</p>
<p><b>"Fiction"</b> refers to literature created from <b>imagination</b>. Mysteries, science fiction, romance, fantasy, chick lit, crime thrillers are all fiction genres.</p>
<p><b>"Non-fiction"</b> refers to literature based on <b>facts</b>. It is the broadest category of literature. The Non-fiction Department has books in many categories including biography, business, cooking, health and fitness, pets, crafts, home decorating, languages, travel, home improvement, religion, art and music, history, self-help, true crime, science and humor.</p>
<p>Here is a website dedicated solely to the world of authors and their books. It provides the viewer the information on some of the notable authors around the world and their contributions to the literary world in the form of books</p>
<h3 class="book">Happy reading!</h3>
<div class="col-md-16 text-center">
<%=button_to "Let's go", authors_path, method: :get%>
</div>
</body>
</html>
